<form id="search-form" method="GET" action="/shows/searchresults"> 
        <label for="searchTerm">Search for a show:</label> 
        <input type="text" id="searchTerm" name="searchTerm" required> 
        <button type="submit">Search</button> 
</form> 
<h1>{{title}}</h1>
{{#each shows}}
    <h1><a href="/shows/{{apiId}}">{{name}}</a></h1>
    <p>Plot Synopsis: {{{plot}}}</p>
    {{#if check}}
        <h3>Average Rating: Not Available</h3>
    {{else}}
        <h3>Average Rating: {{averageRating}}</h3>
    {{/if}}
    <h3>Genres:</h3>
    <ul>
        {{#each genres}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    {{#if check}}
        <h3>Percent of viewers that would watch again: Not Available</h3>
    {{else}}
        <h3>Percent of viewers that would watch again: {{rewatchPercent}}</h3>
    {{/if}}
    <h3>Average Runtime: {{runtime}}</h3>
{{/each}}
