<h1>{{title}}</h1>
<h2>Filter or sort all shows here</h2>
<form id="filter-form" method="GET" action="/shows/filter"> 
    <label for="filterGenre">Filter all shows by genre:</label> 
    <input type="text" id="filterGenre" name="filterGenre" required> 
    <button type="submit">Filter</button> 
</form> 
<form id="sort-form" method="GET" action="/shows/sort"> 
    <label for="sortFeature">Sort all shows by feature:</label> 
    <select id="sortFeature" name="sortFeature">
          <option value="runtime">Runtime</option>
          <option value="rating">Rating</option>
          <option value="rewatch">Rewatch Percent</option>
    </select>
    <button type="submit">Sort</button> 
</form> 
{{#if shows}}
    {{#each shows}}
        <h1><a href="/shows/{{apiId}}">{{name}}</a></h1>
        {{#if plot}}
            <p>Plot Synopsis: {{{plot}}}</p>
        {{else}}
            <p>Plot Synopsis: Not Found</p>
        {{/if}}
        {{#if check}}
            <h3>Average Rating: Not Available</h3>
        {{else}}
            <h3>Average Rating: {{averageRating}}</h3>
        {{/if}}
        {{#if genres}}
            <h3>Genres:</h3>
            <ul>
                {{#each genres}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        {{else}}
            <h3>Genres: None Found</h3>
        {{/if}}
        {{#if check}}
            <h3>Percent of viewers that would watch again: Not Available</h3>
        {{else}}
            <h3>Percent of viewers that would watch again: {{rewatchPercent}}</h3>
        {{/if}}
        {{#if averageRuntime}}
            <h3>Average Runtime: {{averageRuntime}}</h3>
        {{else}}
            <h3>Average Runtime: Not Available</h3>
        {{/if}}
    {{/each}}
{{else}}
    <h2>No shows found!</h2>
{{/if}}
