<h1>{{title}}</h1>
<h2>Filter or sort all shows here</h2>
<form id="filter-form" method="GET" action="/shows/filter"> 
    <label for="filterGenre">Filter all shows by genre:</label>
    <select id="filterGenre" name="filterGenre" required>
        <option value="">Select a genre</option>
        <option value="Comedy">Comedy</option>
        <option value="History">History</option>
        <option value="Sports">Sports</option>
        <option value="Horror">Horror</option>
        <option value="Adventure">Adventure</option>
        <option value="Crime">Crime</option>
        <option value="Supernatural">Supernatural</option>
        <option value="Action">Action</option>
        <option value="Anime">Anime</option>
        <option value="Science-Fiction">Science-Fiction</option>
        <option value="Drama">Drama</option>
        <option value="Legal">Legal</option>
        <option value="Thriller">Thriller</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Family">Family</option>
        <option value="War">War</option>
        <option value="Medical">Medical</option>
        <option value="Espionage">Espionage</option>
        <option value="Romance">Romance</option>
        <option value="Music">Music</option>
        <option value="Western">Western</option>
        <option value="Mystery">Mystery</option>
    </select>
    <label for="filterSubmitButton">Submit your filter choice:</label> 
    <button type="submit" id="filterSubmitButton">Filter</button> 
</form> 
<form id="sort-form" method="GET" action="/shows/sort"> 
    <label for="sortFeature">Sort all shows by feature (from lowest to highest):</label> 
    <select id="sortFeature" name="sortFeature" required>
          <option value="">Select a feature</option>
          <option value="runtime">Runtime</option>
          <option value="rating">Rating</option>
          <option value="rewatch">Rewatch Percent</option>
    </select>
    <label for="sortSubmitButton">Submit your sort choice:</label> 
    <button type="submit" id="sortSubmitButton">Sort</button> 
</form> 
{{#if shows}}
    {{#each shows}}
        <h1><a href="/shows/{{apiId}}">{{name}}</a></h1>
        {{#if plot}}
            <p>Plot Synopsis: {{plot}}</p>
        {{else}}
            <p>Plot Synopsis: Not Found</p>
        {{/if}}
        {{#if check}}
            <h3>Average Rating: Not Available</h3>
        {{else}}
            <h3>Average Rating: {{rating}}</h3>
        {{/if}}
        {{#if genres}}
            <h3>Genres:</h3>
            <ul>
                {{#each genres}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        {{else}}
            <h3>Genres: None Found</h3>
        {{/if}}
        {{#if check}}
            <h3>Percent of viewers that would watch again: Not Available</h3>
        {{else}}
            <h3>Percent of viewers that would watch again: {{rewatchPercent}}</h3>
        {{/if}}
        {{#if averageRuntime}}
            <h3>Average Runtime: {{averageRuntime}}</h3>
        {{else}}
            <h3>Average Runtime: Not Available</h3>
        {{/if}}
    {{/each}}
{{else}}
    <h2>No shows found!</h2>
{{/if}}
