<h1>{{title}}<h1>
<h3>Posting as {{firstName}} {{lastName}}</h3>

<div class="form-group hidden" id="error-container">
        <div class="text-goes-here">
        </div>
</div>
{{#if error}} 
<div class="error">{{error}}</div> 
{{/if}} 

<form id="create-review-form" method="POST" action="/reviews/{{show_id}}/createreview">
    <label for="titleInput">Title</label> 
    <input type="text" name="titleInput" id="titleInput" >
    <label for="ratingInput">Rating</label> 
    <input type="range" name="ratingInput" id="ratingInput" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
    <output>5</output>
    <label for="contentInput">Content</label>
    <input type="text" name="contentInput" id="contentInput">
    <label for="watchAgainInput">I'd Watch Again </label>
    <input type="checkbox" name="watchAgainInput" id="watchAgainInput" value="true">
    <label for="submitReviewButton">Submit the Review:</label> 
    <button type="submit" id="submitReviewButton">Submit Review</button>
</form>

<p><a href="/shows/{{show_id}}">Return to show's page</a></p>