<h1>{{title}}</h1>


{{#if error}} 
<div class="error">{{error}}</div> 
{{/if}} 

{{#if review}}
    <h2>Your Previous Review:</h2>
        <h3>{{review.title}}</h3>
        <h4>Rating: {{review.rating}}</h4>
        <p>{{review.content}}</p>
        {{#if review.watchAgain}}
            <h4>Would you watch again? YES!</h4>
        {{else}}
            <h4>Would you watch again? NO!</h4>
        {{/if}}

    <h2>Edit Here:</h2>
    <form id="edit-review-form" method="POST" action="/reviews/edit/{{review._id}}">
        <label for="titleInput">Title</label> 
        <input type="text" name="titleInput" id="titleInput" value="{{review.title}}">
        <label for="ratingInput">Rating</label> 
        <input type="range" name="ratingInput" id="ratingInput" min="1" max="10" oninput="this.nextElementSibling.value = this.value" value="{{review.rating}}">
        <output>{{review.rating}}</output>
        <label for="contentInput">Content</label>
        <input type="text" name="contentInput" id="contentInput" value="{{review.content}}">
        <label for="watchAgainInput">I'd Watch Again </label>
        <input type="checkbox" {{#if review.watchAgain}}checked{{/if}} name="watchAgainInput" id="watchAgainInput" value="true">
        <label for="submitReviewButton">Submit the Edited Review:</label> 
        <button type="submit" id="submitReviewButton">Submit Review</button>
    </form>
{{/if}}


<p><a href="/user/account">Go to back your user page</a></p>
<script src='../../../public/js/client_side_validation.js'></script>
