add button to add review
{{#each show}}
    <h1>{{name}}</h1>
    {{#if ../save}}
        <form id="saveShowForm" action="/user/saveshow/{{apiId}}" method="GET">
            <label for="saveShowButton">Save this show:</label> 
            <button type="submit" id="saveShowButton">Save Show</button>
        </form>
    {{/if}}
    {{!-- {{#if ../review}} --}}
        <form id="createReviewForm" action="/reviews/{{apiId}}/createreview" method="GET">
        <label for="createReviewButton">Create a review for this show:</label> 
        <button type="submit" id="createReviewButton">Create Review</button>
        </form>
    {{!-- {{/if}} --}}

    {{#if plot}}
        <p>Plot Synopsis: {{{plot}}}</p>
    {{else}}
        <p>Plot Synopsis: Not Found</p>
    {{/if}}
    {{#if ../check}}
        <h3>Average Rating: Not Available</h3>
    {{else}}
        <h3>Average Rating: {{averageRating}}</h3>
    {{/if}}
    {{#if genres}}
        <h3>Genres:</h3>
        <ul>
            {{#each genres}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{else}}
        <h3>Genres: None Found</h3>
    {{/if}}
    {{#if ../check}}
        <h3>Percent of viewers that would watch again: Not Available</h3>
    {{else}}
        <h3>Percent of viewers that would watch again: {{rewatchPercent}}%</h3>
    {{/if}}
    {{#if averageRuntime}}
        <h3>Average Runtime: {{averageRuntime}}</h3>
    {{else}}
        <h3>Average Runtime: Not Available</h3>
    {{/if}}
    {{#if leadActors}}
        <h3>Actors:</h3>
        <ul>
            {{#each leadActors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{else}}
        <h3>Actors: None Found</h3>
    {{/if}}
    {{#if producers}}
        <h3>Producers:</h3>
        <ul>
            {{#each producers}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{else}}
        <h3>Producers: None Found</h3>
    {{/if}}
    {{#if directors}}
        <h3>Directors:</h3>
        <ul>
            {{#each directors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{else}}
        <h3>Directors: None Found</h3>
    {{/if}}
{{/each}}
<h2>Reviews: </h2>
{{#if review}}
    {{#each review}}
        <h3>{{title}}</h3>
        <h4>By: {{authorFirstName}} {{authorLastName}}</h4>
        <h4>Rating: {{rating}}</h4>
        <p>{{content}}</p>
        {{#if watchAgain}}
            <h4>Would you watch again? YES!</h4>
        {{else}}
            <h4>Would you watch again? NO!</h4>
        {{/if}}
    {{/each}}
{{else}}
    <h3>None Posted Yet!</h3>
{{/if}}
<h2>Similar Shows: </h2>
{{#each sims}}
    <h1><a href="/shows/{{apiId}}">{{name}}</a></h1>
    <h3>Average Rating: {{rating}}</h3>
    <h3>Genres:</h3>
    <ul>
        {{#each genres}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/each}}