{{#each shows}}
    <h1><a href="/shows/{{apiId}}">{{name}}</a></h1>
    <p>Plot Synopsis: {{{plot}}}</p>
    <h3>Average Rating: {{rating}}</h3>
    <h3>Genres:</h3>
    <ul>
        {{#each genres}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <h3>Percent of viewers that would watch again: {{rewatchPercent}}%</h3>
    <h3>Average Runtime: {{runtime}}</h3>
{{/each}}
<a href="/">Back to home page!</a>